@charset 'utf-8';

body,header,section,main,footer,article,address,aside,div,nav,ol,ul,li,dl,dt,dd,p,
h1,h2,h3,h4,h5,h6,form,fieldset,legend,button,input,table,tbody,tr,th,td,caption,
figure,figcaption,select,option,blockquote{
	margin: 0; padding: 0;
}
ol,ul{ list-style: none; }
a{ text-decoration: none; }
img{
	display: block;
	border: 0;
}
button,fieldset{ border: 0; }
em,address,i{ font-style: normal; }
legend,caption,hr{ display: none; }
table{
	border-collapse: collapse;
	border-spacing: 0;
}
header::after,section::after,footer::after{
	display: block;
	content: "";
	width: 0; height: 0;
	clear: both;
}
.sr_only{
	width: 0; height: 0; line-height: 0; font-size:0;
	overflow: hidden; visibility: hidden;
	position: absolute; left: -9999px; top: -9999px;
}

@media screen and (min-width: 1025px){
	.t,.m{ display: none !important; }
	.d{ display: block !important; }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
	.d,.m{ display: none !important;}
	.t{ display: block !important; }
}
@media screen and (max-width: 768px){
	.t,.d{ display: none !important; }
	.m{ display: block !important; }
}