@charset 'utf-8';

#main_header{
	width: 100%; height: 160px;
	position: absolute; left: 0; top: 0; z-index: 9999;
	background: rgba(17,35,75,0.5);
	transition: all 0.4s;
}
#main_header.fix{ position: fixed; left: 0; top: 0; }
#main_header.on{
	background: rgba(17,35,75,1);
	box-shadow: 0 4px 4px rgba(0,0,0,0.03);
}
h1{
	width: 288px; height: 68px;
	margin: 0 auto; padding-top: 17px;
	transition: all 0.4s;
}
h1>a{
	display: block;
	width: 100%; height: 100%;
	text-indent: -9999px;
	background: url('../img/header/h1_logo_dark.png') no-repeat center top;
	background-size: 100% auto;
}
.toggle{
	text-indent: -9999px;
	position: absolute; right: 50px; top: 34px; z-index: 10001;
	width: 40px; height: 33px;
	background: transparent;
	cursor: pointer;
}
.toggle>span{
	display: block;
	width: 40px; height: 6px;
	background: #dfedfd; opacity: 1;
	margin-bottom: 7px;
	transition: all 0.4s;
}
.toggle>.bar3{ margin-bottom: 0; }
/* script에서 on class 추가하기 */
.toggle.on>.bar1{ transform: translate(0,13px) rotate(45deg); }
.toggle.on>.bar2{
	opacity: 0;
	transition-duration: 0.2s;
}
.toggle.on>.bar3{ transform: translate(0,-13px) rotate(-45deg); }
.back{
	display: block;
	width: 40px; height: 40px;
	text-indent: -9999px;
	background: url('../img/header/icon_left_arrow.png') no-repeat center center/cover;
	position: absolute; left: 50px; top: 34px; z-index: 100;
	transition: all 0.4s;
}

#gnb{
	width: 100%;
	position: absolute; top: 99px; left: 50%; z-index: 10000;
	transform: translateX(-50%);
	border-top: 1px solid rgba(255,255,255,0.2);
	transition: all 0.4s;
}
#gnb.fix{ position: fixed; top: 0; background: var(--main-color1); }
#gnb>.innerbox>ul{
	width: 100%;
	display: flex; flex-flow: row wrap;
	position: static;
	transition: all 0.4s;
}
#gnb>.innerbox>ul>li{
	flex: 1 1 0;
	position: relative;
}
#gnb>.innerbox>ul>li>a{
	display: block;
	height: 60px; line-height: 60px; text-align: center;
	font-weight: bold; font-size: 1.0625rem;
	color: rgba(255,255,255,0.7);
	transition: all 0.4s;
}
#gnb .sub{
	width: 100%; height: 0;
	position: absolute; top: 60px; left: 0; z-index: 100;
	padding: 20px 0 0 23.5%; box-sizing: border-box;
	border-right: 0;
	transition: all 0.4s;
	overflow: hidden;
}
#gnb .sub.active{
	height: 260px;
	border-right: 1px solid #ededed;
}
#gnb li:first-child>.sub{ border-left: 0; }
#gnb li:first-child>.sub.active{ border-left: 1px solid #ededed; }
#gnb .sub li{ margin-bottom: 20px; }
#gnb .sub li:last-child{ margin-bottom: 0; }
#gnb .sub a{
	font-size: 14px;
	color: #666;
}
#gnb .weather_wrap{
	width: 137px; height: 192px;
	position: absolute; top: 100px; right: 30px; z-index: 100;
	/*right 좌표 스크립트로 손보기 - left를 window.width에서 일정% 뺀 좌표로*/
	display: flex; flex-flow: column wrap;	justify-content: center;
	display: none !important; overflow: hidden;
}
#gnb .weather_wrap.active{
	display: flex !important;
}
#gnb .weather_wrap>.icon{
	width: 130px;
	height: 120px;
	display: flex; justify-content: center;
}
#gnb .weather_wrap>.icon>i{
	font-size: 100px;
	color: #232323;
}
#gnb .weather_wrap span{ color: #232323; font-weight: bold; }
#gnb .weather_wrap>.description{
	display: flex; align-items: center; justify-content: space-around;
}
#gnb .weather_wrap .weather{ font-size: 18px; }
#gnb .weather_wrap .degree{ font-size: 28px; }
#gnb .sub_bg{
	width: 100%; height: 0;
	background: #fff;
	box-shadow: 0 10px 10px 0 rgba(0,0,0,0.1);
	position: absolute; top: 60px; left: 0; z-index: 99;
	transition: height 0.4s;
	/* display: none !important; */
}
#gnb .sub_bg.active{ display: block !important; height: 260px; }
#tnb{ position: absolute; top: 10px; right: 20px; z-index: 10000; }
#tnb>p{
	font-size: 1.625rem;
	color: #fff;
	margin-left: 4%; padding-top: 37px;
	transition: all 0.4s;
}
#tnb>ul{
	display: flex; flex-flow: row wrap;
	transition: all 0.4s;
}
#tnb>ul>li{ margin-right: 1rem; position: relative; }
#tnb>ul>li:last-child{ margin-right: 0; }
#tnb>ul>li:not(:last-child)::after{
	display: block;
	content: '';
	width: 2px; height: 2px;
	background: rgba(255,255,255,0.7);
	transform: rotateZ(45deg);
	position: absolute; right: -8px; top: 50%;
}
#tnb>ul>li>a{
	font-size: 0.8rem;
	color: rgba(255,255,255,0.7);
}
#tnb>ul>li>a:hover{ color: rgba(255,255,255,1); }

@media screen and (min-width: 1025px){
	#gnb>.innerbox>ul>li>a:hover{ color: rgba(255,255,255,1); }
	#gnb .sub a:hover{ color: var(--main-color1); font-weight: 700; }
}
@media screen and (max-width: 1024px) and (min-width: 769px){
	#main_header{ height: 100px; }
	#gnb{
		height: 100vh;
		position: fixed; top: 148px; left: 100%;
		transform: none; border-top: 0 none;
		background: #fff;
		/* display: none; */
	}
	#gnb>.innerbox>ul{
		display: block;
		width: calc(93% - 70px);
		margin: 35px auto 0;
		position: relative;
	}
	#gnb>.innerbox>ul>li>a{
		padding-left: 70px;
		text-align: left;
		color: #232323; font-size: 20px;
		border-bottom: 1px solid #ededed;
		position: relative;
	}
	#gnb>.innerbox>ul>li>a::before,#gnb>.innerbox>ul>li>a::after{
		content: '';
		position: absolute; left: 0; bottom: 0;
		height: 2px;
		border-radius: 50px;
		transition: all 0.4s ease-in-out;
	}
	#gnb>.innerbox>ul>li>a::before{
		width: 100%;
		background: var(--dominant-color2);
	}
	#gnb>.innerbox>ul>li>a::after{
		width: 0%;
		background: linear-gradient(90deg, rgba(17,35,75,1) 0%, rgba(171,206,234,1) 100%);
	}
	#gnb>.innerbox>ul>li>a.active::after{ width: 100%; }
	#gnb>.innerbox>ul>li span{
		display: block;
		width: 26px; height: 23px;
		background: url('../img/header/icon_gnb.png') no-repeat 0 0;
		position: absolute; left: 0; top: 50%;
		transform: translateY(-50%);
	}
	#gnb>.innerbox>ul>li:nth-child(2) span{ background-position: -26px 0; }
	#gnb>.innerbox>ul>li:nth-child(3) span{ background-position: -52px 0; }
	#gnb>.innerbox>ul>li:nth-child(4) span{ background-position: -78px 0; }
	#gnb>.innerbox>ul>li:nth-child(5) span{ background-position: -104px 0; }
	#gnb>.innerbox>ul>li:nth-child(6) span{ background-position: -130px 0; }
	#gnb .sub{
		width: 100%; height: 0; opacity: 0;
		position: static;
		padding: 0px 70px; box-sizing: border-box; border-right: 0;
		background: var(--dominant-color2);
		transition: all 0.4s cubic-bezier(.42,.2,.08,1); overflow: hidden;
	}
	#gnb .sub.active{
		opacity: 1; height: auto;
		padding: 30px 70px;
	}
	#gnb li:first-child>.sub{ border-left: 0; }
	#gnb .sub li{ margin-bottom: 20px; }
	#gnb .sub li:last-child{ margin-bottom: 0; }
	#gnb .sub a{ font-size: 16px; }
	#tnb{
		width: 100%; height: 148px;
		position: fixed; top: 0; left: 100%;
		background: var(--main-color1);
		transition: all 0.4s;
		/* display: none; */
	}
	#tnb>ul{ margin: 40px 0 0 4%; }
}
@media screen and (max-width: 768px){
	#main_header{ height: 60px; }
	h1{ width: 144px; height: 34px; padding-top: 13px; }
	.toggle{
		right: 30px; top: 18px;
		width: 25px; height: 21px;
		padding: 5px 3px;
	}
	.toggle>span{
		width: 25px; height: 4px;
		margin-bottom: 4px;
	}
	/* script에서 on class 추가하기 */
	.toggle.on>.bar1{ transform: translate(0,8px) rotate(45deg); }
	.toggle.on>.bar3{ transform: translate(0,-8px) rotate(-45deg); }
	.back{
		width: 31px; height: 31px;
		left: 30px; top: 18px;
	}
	#gnb{
		height: 100vh;
		position: fixed; top: 148px; left: 100%;
		transform: none; border-top: 0 none;
		background: #fff;
		/* display: none; */
	}
	#gnb>.innerbox>ul{
		display: block;
		width: calc(90% - 40px);
		margin: 20px auto 0;
		position: relative;
	}
	#gnb>.innerbox>ul>li>a{
		padding-left: 40px;
		text-align: left;
		color: #232323; font-size: 16px;
		border-bottom: 1px solid #ededed;
		position: relative;
	}
	#gnb>.innerbox>ul>li>a::before,#gnb>.innerbox>ul>li>a::after{
		content: '';
		position: absolute; left: 0; bottom: 0;
		height: 2px;
		border-radius: 50px;
		transition: all 0.4s ease-in-out;
	}
	#gnb>.innerbox>ul>li>a::before{
		width: 100%;
		background: var(--dominant-color2);
	}
	#gnb>.innerbox>ul>li>a::after{
		width: 0%;
		background: linear-gradient(90deg, rgba(17,35,75,1) 0%, rgba(171,206,234,1) 100%);
	}
	#gnb>.innerbox>ul>li>a.active::after{ width: 100%; }
	#gnb>.innerbox>ul>li span{
		display: block;
		width: 18px; height: 16px;
		background: url('../img/header/icon_gnb.png') no-repeat 0 0;
		background-size: cover;
		position: absolute; left: 0; top: 50%;
		transform: translateY(-60%);
	}
	#gnb>.innerbox>ul>li:nth-child(2) span{ background-position: -18px 0; }
	#gnb>.innerbox>ul>li:nth-child(3) span{ background-position: -36px 0; }
	#gnb>.innerbox>ul>li:nth-child(4) span{ background-position: -54px 0; }
	#gnb>.innerbox>ul>li:nth-child(5) span{ background-position: -72px 0; }
	#gnb>.innerbox>ul>li:nth-child(6) span{ background-position: -90px 0; }
	#gnb .sub{
		width: 100%; height: 0; opacity: 0;
		position: static;
		padding: 0 40px; box-sizing: border-box; border-right: 0;
		background: var(--dominant-color2);
		transition: all 0.4s cubic-bezier(.42,.2,.08,1); overflow: hidden;
		/* display: none; */
	}
	#gnb .sub.active{
		opacity: 1; height: auto;
		padding: 20px 40px;
	}
	#gnb li:first-child>.sub{ border-left: 0; }
	#gnb .sub li{ margin-bottom: 16px; }
	#gnb .sub li:last-child{ margin-bottom: 0; }
	#gnb .sub a{ font-size: 14px; }
	#tnb{
		width: 100%; height: 148px;
		position: fixed; top: 0; left: 100%;
		background: var(--main-color1);
		transition: all 0.4s;
		/* display: none; */
	}
	#tnb>p{
		color: #fff;
		margin-left: 4%; padding-top: 37px;
	}
	#tnb>ul{ margin: 50px 0 0 4%; }
}