@charset 'utf-8';
@import 'default.css';
@import 'def_style.css';
@import 'header.css';
@import 'footer.css';
@import 'top_style.css';

/*=====top=====*/
#top{ background-image: url('../img/top/bg_top6.jpg'); }
/*=====top=====*/
/*=====notice_wrap=====*/
#notice_wrap{ padding: 10% 0; }
.search_area{
	width: 100%; height: 150px;
	border: 1px solid var(--table-color);
	box-shadow: 4px 4px 4px 0 rgba(0,0,0,0.1);
	position: relative; margin: 3% 0 7%;
}
.search_area>form{
	width: 100%; height: 33.333%;
	text-align: center;
	position: absolute; left: 0; top:50%; transform: translateY(-50%);
}
.search_area #search_classification{
	width: 15%; height: 100%;
	border: 0; border-bottom: 1px solid #666;
	font-size: 1.25rem; color: #666;
	margin-right: 2%;
}
.search_area #search_txt{
	width: 50%; height: 100%;
	border: 0; border-bottom: 1px solid #666;
	margin-right: 2%;
	position: relative; top: -3px;
}
.search_area #search_txt::placeholder{ font-size: 1.25rem; }
.search_area #search_btn{
	display: inline-block;
	width: 9.5%; height: 100%;
	background: transparent;
	border: 1px solid var(--main-color1); border-radius: 25px;
	color: var(--main-color1);
	font-weight: 700; font-size: 1rem;
}
.notice-table>.content_wrapper{ display: flex; margin-bottom: 15px; }
.notice-table p>span{ color: var(--accent-color2); font-weight: 700; }
.notice-table .mini_tab{
	margin-left: 50px;
	display: flex !important;
}
.notice-table .mini_tab>li{ margin-right: 41px; position: relative; }
.notice-table .mini_tab>li:last-child{ margin-right: 0; }
.notice-table .mini_tab>li:not(:last-child)::after{
	display: block;
	content: '';
	width: 1px; height: 12px;
	background: #666;
	position: absolute; right: -20px; top: 50%; 
	transform: translateY(-50%);
}
.notice-table .mini_tab>li>a{ color: #666; }
.notice-table table{
	width: 100%;
	border-top: 1px solid #222;
}
.notice-table tr{
	height: 65px;
	border-bottom: 1px solid var(--table-color2);
}
.notice-table tr:nth-of-type(2n){ background: #eef4fa; }
.notice-table th{ color: #222; }
.notice-table th,.notice-table td{ text-align: center; }
.notice-table td:nth-of-type(1){ width: 15%; }
.notice-table td:nth-of-type(2){ width: 15%; }
.notice-table td:nth-of-type(3){ width: 55%; }
.notice-table td:nth-of-type(4){ width: 15%; }
.notice-table td>.mega{
	display: block;
	width: 17px; height: 13px;
	text-indent: -9999px;
	background: url('../img/sub/icon_notice.png') no-repeat;
	position: relative; left: 50%; transform: translateX(-50%);
}
.notice-table .tal{ text-align: left;}
.popup{
	background: #fff;
	width: 80vw; height: 70vh;
	border: 1px solid var(--main-color1);
	position: fixed; left: 50%; top: 50%; z-index: 1000;
	transform: translate(-50%,-50%);
	overflow-y: scroll; box-shadow: 4px 4px 6px 0 rgba(0,0,0,0.1);
	transition: all 0.4s;
	opacity: 0; display: none;
}
.popup.active{ opacity: 1; display: block; }
.popup>.close_btn{
	display: block;
	text-indent: -9999px;
	width: 28px; height: 28px; padding: 2px;
	background: transparent url('../img/sub/icon_close.png') no-repeat center center;
	position: fixed; right: 3%; top: 5%; z-index: 1002;
	cursor: pointer;
}
.popup>.content_area{
	width: 90%; height: 90%;
	position: absolute; left: 50%; top: 50%; z-index: 1001;
	transform: translate(-50%,-50%);
}

/*=====notice_wrap=====*/

@media screen and (min-width: 1025px){
	
}
@media screen and (max-width: 1024px) and (min-width: 769px){
	.innerbox{ width: 90%; }
	#notice_wrap{ padding-top: 17%; }
	.search_area{ height: 269px;}
	.search_area>form{
		width: 80%; height: 90%;
		left: 50%; top:50%; transform: translate(-50%,-50%);
	}
	.search_area #search_classification{
		width: 100%; height: 30%;
		margin-right: 0; margin-bottom: 2%;
	}
	.search_area #search_txt{
		width: 100%; height: 30%;
		margin-right: 0; margin-bottom: 5%;
		position: static;
	}
	.search_area #search_btn{
		display: inline-block;
		width: 100%; height: 20%;
		border-radius: 25px;
	}
	.notice-table .mini_tab{ display: none !important; }
	.notice-table thead,.notice-table td:nth-of-type(1){ display: none; }
}
@media screen and (max-width: 768px){
	.innerbox{ width: 90%; }
	#notice_wrap{ padding-top: 17%; }
	.search_area{ height: 213px;}
	.search_area>form{
		width: 80%; height: 90%;
		left: 50%; top:50%; transform: translate(-50%,-50%);
	}
	.search_area #search_classification{
		width: 100%; height: 30%;
		margin-right: 0; margin-bottom: 2%;
	}
	.search_area #search_txt{
		width: 100%; height: 30%;
		margin-right: 0; margin-bottom: 5%;
		position: static;
	}
	.search_area #search_btn{
		display: inline-block;
		width: 100%; height: 20%;
		border-radius: 25px;
	}
	.notice-table .mini_tab{ display: none !important; }
	.notice-table thead,.notice-table td:nth-of-type(1){ display: none; }
}