@charset 'utf-8';

#top{
	width: 100%; height: 550px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}
#top>.innerbox{ height: 100%; position: relative; }
#top h2{
	font-size: 50px; text-align: center; color: #fff;
	position: absolute; top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	text-shadow:
		-1px -1px 0 rgba(17,35,75,0.5),
			0   -1px 0 rgba(17,35,75,0.5),
			1px -1px 0 rgba(17,35,75,0.5),
			1px  0   0 rgba(17,35,75,0.5),
			1px  1px 0 rgba(17,35,75,0.5),
			0    1px 0 rgba(17,35,75,0.5),
		-1px  1px 0 rgba(17,35,75,0.5),
		-1px  0   0 rgba(17,35,75,0.5);
}
.page_location{
	position: absolute; bottom: 10px; left: 10px;
	display: flex;
}
.page_location>li{ position: relative; }
.page_location>.m1>a{
	display: block;
	width: 18px; height: 18px;
	text-indent: -9999px;
	background: url('../img/top/icon_home.png') no-repeat;
}
.page_location>li:not(.m1){ padding-left: 17px; }
.page_location>li:not(last-child){ padding-right: 6px; }
.page_location>li:not(.m1)::before{
	content: '';
	width: 7px; height: 10px;
	background: url('../img/top/location_arrow.png') no-repeat;
	position: absolute; left: 0; top: 50%;
	transform: translateY(-50%);
}
.page_location a{ color: #fff; font-size: 14px; }
.page_location .sub{
	width: 100%; height: 130px;
	position: absolute; left: 17px; bottom: 0;
	overflow: hidden; transition: all 0.4s;
}
.page_location .sub>ul{
	width: 100%; height: auto;
	padding: 0;
	background: rgba(255,255,255,0.7);
	position: absolute; left: 0; bottom: -100%;
	transition: all 0.4s;
}
.page_location .sub>ul>li>a{ color: #222; font-size: 0.75rem; }
.page_location>li>a:hover+.sub>ul{
	bottom: 0;
	padding: 5px 7px;
}